<html>
<head>
<script language="javascript">
<!--
var c = ['?','?','?','?','?','?','?'];//a+b..cd=a.c+b.d
var x = 0;
var y = "?";
var la = 0;
var lb = 0;
function equal(e)
{
	a = form1.a.value;
	switch(e)
	{
		case "+":x = 10; y = "+"; break;
		case "-":x = 10; y = "-"; break;
		case "*":x = 10; y = "*"; break;
		case "/":x = 10; y = "/"; break;
		case "=":x = 11; break;
		case "0":x = 0; break;
		case "1":x = 1; break;
		case "2":x = 2; break;
		case "3":x = 3; break;
		case "4":x = 4; break;
		case "5":x = 5; break;
		case "6":x = 6; break;
		case "7":x = 7; break;
		case "8":x = 8; break;
		case "9":x = 9; break;
		case ".":x = 13; break;
		case "ac":x = 12; break;
	}
	if(x<10 || x == 13)
	{
		if(x == 13)
		{
			if(c[0] == '?')
			{
				c[0] = 0;
				c[3] = '.';
				form1.a.value = c[0];
			}
			else if(c[0]!='?'&&c[1]=='?'&&c[5]=='?')
			{
				c[3] ='.';
			}
			else if(c[1]!='?'&&c[2]=='?')
			{
				c[2] = 0;
				c[4] = '.';
				form1.a.value = c[2];
			}
			else if(c[2]!='?')
			{
				c[4] ='.';
			}
		}
		else
		{
			if(c[0]=='?')
			{
				c[0] = x;
				form1.a.value = c[0];
			}
			else if (c[3]=='.'&&c[5]=='?')
			{
				c[5] = x;
				la = la + 1;
				form1.a.value = c[0]+c[5]/Math.pow(10,la);
			}
			else if (c[3]=='.'&&c[5]!='?'&&c[1]=='?')
			{
				c[5] = c[5]*10+x;
				la = la + 1;
				form1.a.value = c[0]+c[5]/(Math.pow(10,la));
			}
			else if(c[1]=='?' && c[0]!='?' && c[3]!='.')
			{
				c[0] = c[0] * 10 + x;
				form1.a.value = c[0];
			}
			else if(c[1]!='?' && c[2]=='?')
			{
				c[2] = x;
				form1.a.value=c[2];
			}
			else if(c[2]!='?'&&c[4]!='.')
			{
				c[2] = c[2] * 10 + x;
				form1.a.value=c[2];
			}
			else if(c[4]=='.'&&c[6]=='?')
			{
				c[6] = x;
				lb = lb + 1;
				form1.a.value = c[2]+c[6]/(Math.pow(10,lb));
			}
			else if (c[4]=='.'&&c[6]!='?')
			{
				c[6] = c[6]*10+x;
				lb = lb + 1;
				//alert (c);
				form1.a.value = c[2]+c[6]/(Math.pow(10,lb));
			}
		}
		
	}
	else if(x==10)
	{
		if(c[1]=='?')
		{
			c[1] = y;
		}
		else
		{
			if(c[5]=='?')
				c[5]=0;
			if(c[6]=='?')
				c[6]=0;
			c[0]=c[0]+c[5]/(Math.pow(10,la));
			c[2]=c[2]+c[6]/(Math.pow(10,lb));
			if(c[1] == '+')
			{
				form1.a.value = c[0] + c[2];
				num = form1.a.value % 1;
				c = ['?','?','?','?','?','?','?'];
			}
			else if(c[1] == '-')
			{
				form1.a.value = c[0] - c[2];
				num = form1.a.value % 1;
				c = ['?','?','?','?','?','?','?'];
			}
			else if(c[1] == '*')
			{
				form1.a.value = c[0] * c[2];
			    num = form1.a.value % 1;
				c = ['?','?','?','?','?','?','?'];
			}
			else if(c[1] == '/')
			{
				form1.a.value = c[0] / c[2];
				num = form1.a.value % 1;
				c = ['?','?','?','?','?','?','?'];
			}
			if(num!=0)
			{
				s=form1.a.value.split(".");
				la = s[1].length;
				lb = 0;
				c[5]=s[1];
				c[0] = parseInt(form1.a.value);
				c[3] = '.';
				c[1] = y;
			}
			else
			{
				la = 0;
				lb = 0;
				c[0] = parseInt(form1.a.value);
				c[5] = 0;
				c[3] = '.';
				c[1] = y;
			}
		}
	}
	else if(x==11)
	{
		if(c[5]=='?')
			c[5]=0;
		if(c[6]=='?')
			c[6]=0;
		c[0]=c[0]+c[5]/(Math.pow(10,la));
		c[2]=c[2]+c[6]/(Math.pow(10,lb));
		if(c[1] == '+')
		{
			form1.a.value = c[0] + c[2];
			c = ['?','?','?','?','?','?','?'];
			c[0] = parseInt(form1.a.value);
		}
		else if(c[1] == '-')
		{
			form1.a.value = c[0] - c[2];
			c = ['?','?','?','?','?','?','?'];
			c[0] = parseInt(form1.a.value); 
		}
		else if(c[1] == '*')
		{
			form1.a.value = c[0] * c[2];
			c = ['?','?','?','?','?','?','?'];
			c[0] = parseInt(form1.a.value); 
		}
		else if(c[1] == '/')
		{
			form1.a.value = c[0] / c[2];
			c = ['?','?','?','?','?','?','?'];
			c[0] = parseInt(form1.a.value); 
		}
	}
	else if(x==12)
	{
		c = ['?','?','?','?','?','?','?'];
		x = 0;
		y = '?';
		la = 0;
		lb = 0;
		form1.a.value = '';
	}
}
//-->
</script>
</head>
<body>
<form name="form1">
<input type="text" name="a" size=20>
<input type="button" value="ac" style="width:40px;height:20px;" onClick="equal('ac')">
<br />
<br />
<input type="button" value="1" style="width:40px;height:20px;" onClick="equal('1')">
<input type="button" value="2" style="width:40px;height:20px;" onClick="equal('2')">
<input type="button" value="3" style="width:40px;height:20px;" onClick="equal('3')">
<input type="button" value="+" style="width:40px;height:20px;"onClick="equal('+')">
<br />
<br />
<input type="button" value="4" style="width:40px;height:20px;" onClick="equal('4')">
<input type="button" value="5" style="width:40px;height:20px;" onClick="equal('5')">
<input type="button" value="6" style="width:40px;height:20px;" onClick="equal('6')">
<input type="button" value="_" style="width:40px;height:20px;"onClick="equal('-')">
<br />
<br />
<input type="button" value="7" style="width:40px;height:20px;" onClick="equal('7')">
<input type="button" value="8" style="width:40px;height:20px;" onClick="equal('8')">
<input type="button" value="9" style="width:40px;height:20px;" onClick="equal('9')">
<input type="button" value="*" style="width:40px;height:20px;" onClick="equal('*')">
<br />
<br />
<input type="button" value="0" style="width:40px;height:20px;"onClick="equal('0')">
<input type="button" value="." style="width:40px;height:20px;"onClick="equal('.')">
<input type="button" value="=" style="width:40px;height:20px;" onClick="equal('=')">
<input type="button" value="/" style="width:40px;height:20px;" onClick="equal('/')">
<br />
<br />

</form>
</body>
</html><br />