<h1>Please Scan The Qrcode</h1>
<br />
<br />
<style type="text/css">
 table {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
 }
 td {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 10px;
   height: 10px;
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }
</style>
<table>
 <% @qr.modules.each_index do |x| %>
   <tr>
     <% @qr.modules.each_index do |y| %>
       <% if @qr.dark?(x,y) %>
         <td class="black"/>
       <% else %>
         <td class="white"/>
       <% end %>
     <% end %>
   </tr>
 <% end %>
</table>
<html>
<SCRIPT language="javascript"> 
var spantime = 10;
var endflag = false;
function cal()
{
    if (spantime == 0)
    { 
        window.location.href= '/message/index';
    }
    else
    {
        spantime --;
        str = spantime + "s";
        document.getElementById("pad").innerHTML = str;
    }
}
window.onload = function()
{
    setInterval(cal, 1000);
}
</SCRIPT>  
</head>
<h1>
left:<span id="pad"></span>
</h1>
</html>
